<!DOCTYPE html>
<html>
	<head>
		<title>FTP</title>
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>
	<body ng-app="ftpClient">
		<div ng-if="">
			
		</div>
		<div ng-if="">
			
		</div>
	</body>
	<script type="text/javascript" src="assets/js/jquery.js"></script>
	<script type="text/javascript" src="assets/js/angular.js"></script>
	<script type="text/javascript" src="assets/js/bootbox.4_4_0.js"></script>
	<script type="text/javascript" src="assets/js/main.js"></script>
</html>